.backdrop{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.603);
}

.modal{
  background-color: white;
  z-index: 2;
}